#labelnombre{
    margin-right: 5.5%;
    position: relative;
    left: 5.3%;         
} 

#labelidentificacion{
    margin-right: 2.7%;
    position: relative;
    left: 2.5%;         
} 
#labeledad{
    margin-right: 7.1%;
    position: relative;
    left: 6.8%;        
}   

#labelpulsacion{
    margin-right: 4.8%;
    position: relative;
    left: 4.5%;         
}
select{
    position: relative;
    top: 0.7em;
    right: -4%;
    font-size: 14px;
}
button{
    position: relative;
    right: -15%;
    top: 0.5em;
}
#imagencorazon{
    position: absolute;
    right: -30px;
}